In [1]:
import json
import pandas as pd

# lista di eventi di gioco fornita in formato json
players = json.load(open('../players.json'))
events = json.load(open('../worldCup-final.json'))

In [4]:
df = pd.DataFrame(events)

def transform_pos(x):
    if len(x) < 2:
        x.append(x[0])
    return x

df['positions'] = df['positions'].apply(transform_pos)

df['x_start'] = [p[0]['x'] for p in df['positions']]
df['y_start'] = [p[0]['y'] for p in df['positions']]
df['x_end'] = [p[1]['x'] for p in df['positions']]
df['y_end'] = [p[1]['y'] for p in df['positions']]

data = pd.DataFrame(df.playerId)
data['mean_x_event'] = (df['x_start'] + df['x_end']) / 2
data['mean_y_event'] = (df['y_start'] + df['y_end']) / 2
data.head()

data_grouped = data.groupby('playerId').mean()
data_grouped.head()

          mean_x_event  mean_y_event
playerId
0            76.441176     72.100000
3309         30.865854     63.000000
3476         58.303738     32.742991
3682         57.969231     41.592308
7936         44.371212     61.818182